<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".jpg" mimeType="image/pjpeg" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
     </staticContent>
    </system.webServer>
</configuration>