.indentDesc{
    padding-left: 3rem;
}

.row{
    margin-bottom: 1rem;
}

.highlight{
    color:rgb(8, 128, 8);
    font-weight: bold;
}

.mt_1{
    margin-top:1rem;
}

.bloodCellDesc span{
    font-size:0.8rem;
}

